
#particles-js {
    height: 100vh;   
}

body {
    
    height: 104vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.btn{
    border-radius: 10px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
     ;
}

.gambar {
    background-color: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.footer {
    font-family:monospace;
}